body {
    background: beige;
  }
  p {
    color: black;
    font-size: 16px;
    border-radius: 10px;
    margin: 10px;
    text-align: left;
  }
  h1 {
    font-weight: bold;
    color: green;
  }
  h2{
    font-weight: bold;
    color: darkgreen;
  }

  h3{
    font-weight: bold;
    color:darkgreen;
  }

  img{
    float: inherit;
    border-radius: 10px;
    border-color: greenyellow;
    border-width: 10px;
    margin: 10px;

  }
